/* إعدادات عامة */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Quicksand:wght@300..700&family=Uncial+Antiqua&display=swap');
:root{
    --first-color:#01022d;
    --second-color:#01022d20;
    --third-color:#00000088;
    --forth-color:#01022d87;
    --fifth-color:rgba(1, 2, 45, 0.6);
    --sixth-color:rgba(0, 0, 0, 0);
    --seventh-color:rgba(1, 2, 45, 0.8);
    --orange1:rgb(240, 178, 33);
    --orange2:rgb(255, 144, 40);
    --purple:rgba(216, 177, 245, 0.875);
    --black:#000;
    --white:white;
    --white-smoke:whitesmoke;
    --gray:gray;
    --sky-blue:rgb(166, 235, 252);
    --green-light:rgb(151, 229, 151);
    --main-font:"Uncial Antiqua", system-ui;
    --second-font:"Solitreo", cursive;
}
html {
    scroll-behavior: smooth;
}
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, var(--first-color), var(--black));
}

/* الحاوية الرئيسية */
#home {
    width: 98%;
    min-height: 640px;
    background: linear-gradient(to left bottom, var(--second-color) 30%, var(--third-color)),
                url(/images/eye1.jpg) center/cover no-repeat;
    transition: all 0.4s ease;
    padding: 10px;
}

#home:hover {
    background: linear-gradient(to left bottom, var(--forth-color) 30%, transparent),
                url(/images/eye1.jpg) center/cover no-repeat;
}

/* الهيدر */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--fifth-color); /* خلفية شفافة عند النزول */
    backdrop-filter: blur(10px); /* تأثير زجاجي عصري  */
}

header a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--main-font);
}

header .logo {
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 2.5rem;
    padding: 20px;
    text-shadow: 3px 3px 4px var(--gray);
    font-weight: 900;
    font-style: italic;
}

/* القائمة */
ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: double 2px transparent;
    transition: all 0.3s ease;
}
ul li a.active {
    border-bottom: solid 2px var(--sky-blue);
    color: var(--sky-blue);
    text-shadow: 0px 0px 10px var(--green-light); /* وهج بسيط يعبر عن طابع أفاتار */
    font-weight: bold;
}
ul li:hover,
ul li a:hover {
    border-bottom: solid 2px var(--sky-blue);
    text-shadow: 5px 5px 12px var(--green-light);
    color: var(--sky-blue);
}

/* المحتوى */
.content {
    width: 50%;
}

.content h2{
    text-transform: uppercase;
    font-family: var(--main-font);
    color: var(--white-smoke);
    font-size: clamp(2rem, 6vw, 5rem); /* متجاوب تعطي اصغر قيمة,لبقيمة المفضلة , اكبر قيمةبيخذها */
    margin-top: 50px;
    padding-left: 30px;
}

.content p ,
.dicsreption p{
    font-family: var(--second-font);
    color: var(--white);
    letter-spacing: 2px;
    max-width: 350px;
    padding: 20px;
}

.content button {
    font-family: var(--second-font);
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    border: solid 3px transparent;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--white-smoke);
    transition: all 0.3s ease;
}

.content button:hover {
    background-color: transparent;
    color: var(--white);
    border-color: var(--white-smoke);
}
section {
    min-height: 90vh; /* كل قسم يأخذ مساحة الشاشة كاملة */
    padding: 80px 7%;
    color: var(--white);
}
.clans-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clans-container div{
    width: 30%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    transition: .6s;
}
.clans-container .metk-clans{
    background: linear-gradient(
    to bottom, 
    var(--sixth-color) 20%,    /* شفاف من فوق عشان تبين ملامح الشخصية */
    var(--seventh-color) 90%   /* أزرق غامق جداً (نفس لون موقع) من تحت عشان النص يوضح */
),  url(/images/photo_2026-01-19_19-07-54.jpg) center/cover no-repeat;
}
.clans-container .omat-clans{
    background:linear-gradient(to bottom ,var(--sixth-color) 20% ,var(--seventh-color) 90%), url(/images/photo_2026-01-19_19-08-23.jpg) center/cover no-repeat;
}
.clans-container .ash-clans{
    background:linear-gradient(to bottom ,var(--sixth-color) 20% ,var(--seventh-color) 90%), url(/images/photo_2026-01-19_19-08-31.jpg) center/cover no-repeat;
}
.clans-container h3{
    font-weight: bold;
    font-style: italic;
    word-spacing: 2px;
    font-family: var(--main-font);

}
h3 i {
    padding-left: 10px;
    padding-top: 10px;
    color: var(--sky-blue); /* لتأخذ نفس لون التصميم */
    margin-right: 10px;    /* لترك مسافة بين الأيقونة والكلمة */
    font-size: 1.2rem;     /* لتصغير أو تكبير الأيقونة */
    filter: drop-shadow(0 0 8px var(--sky-blue)); /* وهج خفيف للأيقونة */
}

.clans-container p{
    font-family: var(--second-font);
    opacity: 0;
    font-weight: lighter;
    padding: 10px;
    line-height: 1.5;
    word-spacing: 2px;
}
.clans-container div:hover p{
    opacity: 1;
}
.clans-container div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.video-container{
    width: 100%;
    background: #121212;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.section-title,
.dicsreption h2{
    font-family: var(--main-font);
    font-size: clamp(2rem,2.5vw,5rem);
    padding: 10px;
    text-shadow: 3px 3px 4px var(--gray);
    font-weight: 900;
}
.main-trailer {
    width: 100%;             /* يأخذ العرض الكامل المتاح */
    max-width: 1100px;       /* لا يتجاوز هذا الحد على الشاشات الكبيرة */
    margin: 0 auto 50px;   /* لتوسيط الفيديو وترك مسافة تحت */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.main-trailer h3{
    font-family: var(--second-font);
    font-size: clamp(2rem, 2.5vw, 5rem);
     background-image: linear-gradient(to top right, rgb(239, 244, 243), var(--orange1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: t 2s ease 1s infinite forwards;
}
@keyframes t {
    0%, 100% { text-shadow: 6px -6px 7px var(--orange2); }
    50% { text-shadow: -6px 6px 15px var(--orange1); }
}

.main-trailer iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;    /* يحدد الطول تلقائياً بناءً على العرض ليظل سينمائياً */
    border-radius: 20px;     /* حواف ناعمة لتناسب تصميمك */
    border: 2px solid var(--sky-blue); 
    box-shadow: 0 0 30px var(--forth-color); /* وهج أزرق خفيف ليناسب طابع أفاتار */
}

.other-videos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1300px;
}
.other-videos .video-box iframe{
    width: 100%;
    height: auto;
    border-radius: 4px;
    aspect-ratio: 16 / 9;
}
.video-box {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
max-width: 320px;
gap: 20px;
}
.video-box p{
    font-family: var(--second-font);
    text-shadow: 3px 3px 4px var(--gray);
    font-weight: 900;
}
.video-box:hover,
.gallery-grid div:hover img{
    transform:translateY(-10px); /* يرتفع الفيديو قليلاً للأعلى */
    filter: drop-shadow(0 0 15px var(--sky-blue)); /* وهج أزرق يظهر حوله */
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
}
.gallery-grid .photo-card-large{
animation: image 2.1s ease-out 0.1s 1 both;
}
.gallery-grid .photo-card-tall{
animation: image 2.1s ease-out 0.5s 1 both;
}
.gallery-grid .photo-card-wide{
animation: image 2.1s ease-out 0.8s 1 both;
}
.gallery-grid .photo-card-director{
animation: image 2.1s ease-out 1.1s 1 both;
}
.gallery-grid .photo-card-ocean{
animation: image 2.1s ease-out 1.6s 1 both;
}
@keyframes image {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.photos-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.gallery-grid{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    width: 100%;
    height: auto;
    gap: 10px;
}
.photo-card-wide{
    grid-column: span 2;
}
.photo-card-tall{
    grid-row: span 2;
}
.photo-card-large{
    grid-column: span 2;
    grid-row: span 2;
}
.gallery-grid img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.gallery-grid div{
    transition: 0.5s ease;
}
.about-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-container .dicsreption{
    padding: 10px;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.dicsreption h2{
    letter-spacing: 2.7px;
}
.dicsreption p{
     font-size: clamp(.8rem, 1.7vw, 1rem);
    line-height: 20px;
    color: rgba(216, 177, 245, 0.875);
    text-shadow: 1px 1px 4px var(--white-smoke);
    max-width: 450px;
}
.dicsreption div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    padding-left: 20px;
}
.dicsreption div span {
    font-family: var(--second-font);
    background: rgba(163, 73, 164, 0.2);
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid var(--purple);
    text-shadow: 0 0 5px var(--purple);
    font-weight: 700;
    color: white;
    font-size: 0.9rem;
}

.about-container .image-tree{
    width: 40%; 
    height: 50%;
}
.image-tree img{
width: 100%;
height: auto;
border-radius: 22px;
animation: tree 3s ease-in-out infinite alternate;;
}
@keyframes tree {
    from {
        transform: scale(1);
        filter: drop-shadow(0 0 10px var(--sky-blue));
    }
    to {
        transform: scale(1.03);
        filter: drop-shadow(0 0 25px var(--purple));
    }
}
.footer-container{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footer-container img{
    opacity: 33%;
    width: 100%;
}
.footer-container h2{
    padding: 20px 20px 0px 20px;
    color: var(--white);
    text-shadow: 0 0 10px var(--gray);
    letter-spacing: 6px;
}
.footer-container p{
    padding: 20px;
    color: var(--white);
}
/* تحسينات للشاشات الصغيرة */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    
    header .logo {
        font-size: 1.8rem;
        margin-bottom: 50px;
    }
    header ul {
    margin-top: 20px;
    margin-left: 80px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-size: 1rem;
    }

    .content {
        margin-top: 180px;
        width: 100%;
        text-align: center;
    }

    .content h2 {
        padding-left: 0;
        margin-top: 30px;
    }

    .content p {
        margin:auto ;
        font-size: .7em;
    }

    .content button {
        margin: 20px auto;
        display: block;
    }
        .clans-container {
        flex-direction: column; /* تحويل البطاقات لتصبح عمودية */
        gap: 30px; /* ترك مسافة بين كل بطاقة والتي تحتها */
    }

    .clans-container div {
        width: 90%; /* تجعل البطاقة تأخذ عرض الشاشة تقريباً */
        height: 350px; /* تقليل الطول قليلاً ليناسب شاشة الهاتف */
    }

    .clans-container div:hover {
        transform: scale(1.05); /* تقليل التكبير في الموبايل عشان ما تطلع برا الشاشة */
    }
        .gallery-grid {
        /* لجعلها عمود واحد فقط في الموبايل */
        grid-template-columns: 1fr; 
        grid-auto-rows: auto; /* لكي الطول يتحدد حسب محتوى الصورة */
    }
    
    /* إلغاء الـ span لكي لا تخرج الصور الكبيرة عن حدود شاشة الموبايل */
    .photo-card-large, .photo-card-wide, .photo-card-tall {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }
        .about-container {
        flex-direction: column-reverse; /* الصورة تحت النص في الموبايل */
        text-align: center;
        padding-top: 50px;
    }
}

